webserviceclient/WebContent/wsdl/User.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://core.user.fws.com.br" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://core.user.fws.com.br" xmlns:intf="http://core.user.fws.com.br" xmlns:tns1="http://entity.user.fws.com.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://core.user.fws.com.br" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://entity.user.fws.com.br"/>
   <element name="updateUser">
    <complexType>
     <sequence>
      <element name="user" type="tns1:UserInfo"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateUserResponse">
    <complexType>
     <sequence>
      <element name="updateUserReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllUsers">
    <complexType/>
   </element>
   <element name="getAllUsersResponse">
    <complexType>
     <sequence>
      <element name="getAllUsersReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://entity.user.fws.com.br" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://core.user.fws.com.br"/>
   <complexType name="LoginInfo">
    <sequence>
     <element name="accessCounter" type="xsd:int"/>
     <element name="active" type="xsd:boolean"/>
     <element name="blocked" type="xsd:boolean"/>
     <element name="login" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="ultimoAcesso" nillable="true" type="xsd:string"/>
     <element name="user" nillable="true" type="tns1:UserInfo"/>
     <element name="userId" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="UserInfo">
    <sequence>
     <element name="birthDate" nillable="true" type="xsd:string"/>
     <element name="email" nillable="true" type="xsd:string"/>
     <element name="login" nillable="true" type="tns1:LoginInfo"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="userId" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="updateUserRequest">

      <wsdl:part element="impl:updateUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateUserResponse">

      <wsdl:part element="impl:updateUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllUsersResponse">

      <wsdl:part element="impl:getAllUsersResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllUsersRequest">

      <wsdl:part element="impl:getAllUsers" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="User">

      <wsdl:operation name="updateUser">

         <wsdl:input message="impl:updateUserRequest" name="updateUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateUserResponse" name="updateUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllUsers">

         <wsdl:input message="impl:getAllUsersRequest" name="getAllUsersRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllUsersResponse" name="getAllUsersResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UserSoapBinding" type="impl:User">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="updateUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllUsers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllUsersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllUsersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UserService">

      <wsdl:port binding="impl:UserSoapBinding" name="User">

         <wsdlsoap:address location="http://localhost:8080/web/services/User"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
